{% load static %}

<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container mt-5">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex align-items-center">
                      <img src="{{post.poster.picture}}" class="rounded-circle mr-2" alt="Profile Picture" style="width: 40px; height: 40px;">
                      <div>
                        <h5 class="mb-0">{{post.poster.first_name}} {{post.poster.last_name}}</h5>
                        <p class="text-muted mb-0">{{post.timestamp}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-text">{{post.body}}</p>
                    <!-- <img src="#" class="img-fluid" alt="Post Image"> -->
                  </div>
                  <div class="card-footer">
                    {% for postid, lks in likes.items %}
                      {% if postid == post.id %}
                        <button type="button" class="btn btn-primary mr-2" data-postid="{{post.id}}">
                          {% for idpost, lkd in already_liked.items %}
                            {% if postid == idpost  %}
                              {% if lkd %}
                                <span data-side="a" data-postid="{{post.id}}" class="left-label">Unlike</span>
                              {% else %}
                                <span data-side="a" data-postid="{{post.id}}" class="left-label">Like</span>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                          <span data-side="b" data-postid="{{post.id}}" class="right-label">👌 {{lks}}</span>
                        </button>
                      {% endif %}
                    {% endfor %}
                    <!-- <button type="button" class="btn btn-secondary mr-2" data-postid="{{post.id}}">Reply</button> -->
                    {% if user.username == post.poster.username %}
                      <button type="button" class="btn btn-danger mr-2" data-postid="{{post.id}}">Edit</button>
                    {% endif %}
                    <!-- <button type="button" class="btn btn-danger">Share</button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        <div class="body">
            {% block post-body %}
            {% endblock %}
        </div>
    </body>
</html>