{% extends "network/layout.html" %}

{% load static %}

{% block body %}

{% if user.is_authenticated %}

    <div id="modify-view" class="format-window">

        <form method="POST" enctype="multipart/form-data" class="profile-form">
            {% csrf_token %}

            {{profile_form.as_p}}

            <br>

            <button type="submit" class="btn btn-primary">Update Profile</button>
            <button type="button" id="cancel" class="btn btn-danger">Cancel</button>
        </form>

    </div>

    <div id="profile-view" class="format-window">

        <div class="container mt-5">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex align-items-center">
                        <img src="{{ picture.url }}" class="rounded-circle mr-2" alt="Profile Picture" style="width: 400px; height: 400px; margin: 0 auto;">
                    </div>
                    <div>
                        <h5 class="mb-0">{{ first_name }} {{ last_name }}</h5>
                    </div>
                  </div>
                  <div class="card-body d-flex justify-content-between">
                    <div>
                        <div style="display:flex;">
                            <div>ℹ️</div>
                            <div>{{ bio }}</div>
                        </div>
                        📍 {{ location }}
                        <br>
                        👷‍♀️ {{ work }}
                    </div>
                    <div>
                        <br>
                        {% if not is_own_profile %}
                            {% if not following %}
                                <button id="follow" class="btn btn-primary" data-user1="{{request.user}}" data-user2="{{profile_user}}" value="False">Follow</button>
                            {% else %}
                                <button id="follow" class="btn btn-primary" data-user1="{{request.user}}" data-user2="{{profile_user}}" value="True">Unfollow</button>
                            {% endif %}
                        {% endif %}
                        {% if is_own_profile %}
                            <button id="modify" class="btn btn-primary">Modify</button>
                        {% endif %}
                    </div>
                    </div>
                </div>
            </div> 
        </div>

    <!-- Display each post from each follow -->
    {% for post in page_obj %}
        {% include "network/post.html" %}
    {% empty %}
        <h1 id="empty" class="format-window">No posts yet.</h1>
    {% endfor %}
    <br>

    {% if page_obj %}
        <div class="pagination d-flex justify-content-center">
            <span class="step-links">
                {% if page_obj.has_previous %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                <br>

                <button class="btn btn-primary">
                    <a style="color:inherit; text-decoration:none;" href="?page=1">&laquo; first</a>
                </button>
                <button class="btn btn-primary">
                    <a style="color:inherit; text-decoration:none;" href="?page={{ page_obj.previous_page_number }}">previous</a>
                </button>
                {% endif %}
        
                {% if page_obj.has_next %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                <br>

                <button class="btn btn-primary">
                    <a style="color:inherit; text-decoration:none;" href="?page={{ page_obj.next_page_number }}">next</a>
                </button>
                <button class="btn btn-primary">
                    <a style="color:inherit; text-decoration:none;" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                </button>
                {% endif %}

                {% if not page_obj.has_next and not page_obj.has_previous %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% else %}

    <h1>Not logged in.</h1>

{% endif %}

    <script src="{% static 'network/profile.js' %}"></script>
    <script src="{% static 'network/index.js' %}"></script>

{% endblock %}

