{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create New Listing</h2>

    <form method="post">
        {% csrf_token %}
        <div>
        {{form.title}}
        <br>
        </div>
        <div>
        {{form.description}}
        <br>
        </div>
        <div>
        {{form.imageURL}}
        <br>
        </div>
        <div>
        {{form.duration}}
        <br>
        </div>
        <div>
        {{form.starting_price}}
        <br>
        </div>
        <div>
        {{form.category}}
        <br>
        </div>

        <button type="submit" class="btn btn-primary">Create Listing</button>
    </form>

{% endblock %}