textarea {
    min-height: 400px;
}

.email-inner {
    border: 1px solid grey;
    padding: 5px;
    border-radius: 10px;

}

@keyframes banner-animation {
    
    0% {
        height: 100px;
        opacity: 1;
        
    }
    50% {
        height: 100px;
        opacity: 1;
    }
    75% {
        height: 100px;
        opacity: 0;
        margin-bottom: 20px;
    }
    100% {
        height: 0px;
        opacity: 0;
        margin-bottom: 0px;
    }
}

.sent-banner {
    animation: banner-animation 6s ease;
    border-radius: 10px;
    border: 2px solid slateblue;
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: white;
    background-color: slateblue;
    margin-bottom: 20px;
}