{% extends "network/layout.html" %}

{% load static %}

{% block body %}
<div class="format-window">
    <!-- Add a form for creating a post -->

    {% include "network/post_box.html" %}

</div>

    <!-- Display each post from each follow -->
    {% for post in page_obj %}
        {% include "network/post.html" %}
    {% empty %}
    <h1 id="empty" class="format-window">No posts yet.</h1>
    {% endfor %}

    <!-- Display replies -->

    <br>

    {% if page_obj %}
        <div class="pagination d-flex justify-content-center">
            <span class="step-links">
                {% if page_obj.has_previous %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                <br>

                <button class="btn btn-primary">
                    <a style="color:inherit; text-decoration:none;" href="?page=1">&laquo; first</a>
                </button>
                <button class="btn btn-primary">
                    <a style="color:inherit; text-decoration:none;" href="?page={{ page_obj.previous_page_number }}">previous</a>
                </button>
                {% endif %}
        
                {% if page_obj.has_next %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                <br>

                <button class="btn btn-primary">
                    <a style="color:inherit; text-decoration:none;" href="?page={{ page_obj.next_page_number }}">next</a>
                </button>
                <button class="btn btn-primary">
                    <a style="color:inherit; text-decoration:none;" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                </button>
                {% endif %}

                {% if not page_obj.has_next and not page_obj.has_previous %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% endif %}
            </span>
        </div>
    {% endif %}


<script src="{% static 'network/index.js' %}"></script>

{% endblock %}
